.py-12{
    margin-left: 20%;
    padding-bottom: 0px !important;
}

.content{
    padding: 20px 5px 5px 5px;
}

.dashboard {
    padding: 10px 0 10px 10px;
}

.nav-headings {
    display: flex;
    padding: 10px 0 10px 10px;
    flex-direction: row;
}

.menu-item{
    padding: 0 10px 0 0px;
}

.data-container{
    padding: 30px;
}

.new-record{
    border: 1px solid;
    padding: 10px;
    margin: 25px 0 0 25px;
    border-radius: 15px;
}

.table {
    width: 100%;
    text-align: left;
}

.thead {
    border-bottom: 1px solid;
}

.user-photo{
    width: 150px;
    margin: 0 0 0 5%;
    height: auto;
}

.create-btn{
    background-color: #007bff !important;
    margin: 10px 0 0 0;
}

.align-right{
    margin: 0 0 0 75%;
}

.text-input{
    border: none;
    background-color: #eee !important;
    border-radius: 10px !important;
    box-shadow: 5px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

/* Media Queries for mobile view */
@media (max-width: 800px) {
    .nav-headings {
      flex-direction: column;
    }
  }
